// _variables.scss
$acdh-grey-color: #444;

$acdh-blue-color: #88DBDF;
$arche-btn-blue: #3B89AD;
$arche-smokey-white: #F8F9FA;
$arche-light-blue: #e1edf3;
$arche-medium-blue: #4796b5;
$arche-dark-blue: #069;