
$acdh-grey-color: #444;
$basic-grey: #666;
$acdh-blue-color: #88DBDF;
$arche-btn-blue: #3B89AD;
$arche-btn-blue-hover: rgba(59, 137, 173, 0.8);
$arche-smokey-white: #F8F9FA;
$arche-green: #58BCC1;
$arche-light-blue: #e1edf3;
$arche-medium-blue: #4796b5;
$arche-dark-blue: #069;
$light-grey: #e1e1e1;
$light-blue: #EEF5F8;
$grey: #5B595B;
$gray900: 212529;


body {
    font-family: Lato, Roboto, Helvetica Neue, Arial !important;
    color: $basic-grey;
}

h4 {
    color: #333;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5 {
    color: #333;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h5-blue-title,
.h5-blue-title a
{
    color: $arche-btn-blue-hover !important;
}

.h5-blue-title a:hover
{
    color: $arche-btn-blue !important;
    font-size: 20px !important;
}
h6 {
    color: $gray900;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fas, .fa {
    color: #333;
}
.page-wrapper {
    background-color: $arche-smokey-white;
}

.acdh-grey-color {
    color: $acdh-grey-color;
}
.acdh-blue-color {
    color: $acdh-blue-color;
}
.light-blue {
    background-color: $arche-light-blue;
}
.light-cloud-blue {
    background-color: #246b95;
}
.medium-blue {
    background-color: $arche-medium-blue;
}
.dark-blue {
    background-color: $arche-dark-blue;
}
.background-image-div,
.background-image-front-div {
    position: relative;
}
.background-image-div::before, .background-image-div::after,
.background-image-front-div::before, .background-image-front-div::after  {
    content: "";
    position: absolute;
    width: 250px;
    /* Adjust the width of the logos */
    height: 250px;
    /* Adjust the height of the logos */
}
.background-image-div::before,
.background-image-front-div::before {
    top: 0;
    left: 0;
    background-image: url("../images/common/top-left-cloud.png");
    /* Replace with your top logo */
    background-size: cover;
    z-index: 0;
    width: 204px;
    height: 238px;
}
.background-image-div::after {
    bottom: 0;
    right: 0;
    background-image: url("../images/common/bottom-right-cloud.png");
    /* Replace with your bottom logo */
    background-size: cover;
    z-index: 0;
}
.background-image-front-div::after {
    bottom: 0;
    right: 0;
    background-image: url("../images/common/bottom-right-cloud.png");
    /* Replace with your bottom logo */
    background-size: cover;
    z-index: 0;
}
a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: $arche-btn-blue;
}
a, a:hover {
    text-decoration: none !important;
    color: $arche-btn-blue-hover;
}
p, span {
    color: #666;
    /* Paragraph */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}
#page {
    padding-top: 24px;
    padding-bottom: 100px;
    min-height: 500px;
}
#page {
    background-image: url("../images/common/mission_bottom_bubble.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

.btn-arche-green {
    color: white;
    padding: 10px 16px;
    gap: 8px;
    border-radius: 6px;
    background: $arche-green;
    display: flex;
    align-items: flex-start;
}
.btn-arche-green:hover {
    background-color: rgba(88, 188, 193, 0.2);
}
.btn-arche-blue {
    color: white;
    padding: 10px 16px;
    gap: 8px;
    border-radius: 6px;
    background: $arche-btn-blue;
    width: fit-content;
}
.btn-arche-blue:hover,
.btn-sm-add:hover {
    background-color: rgba(59, 137, 173, 0.8);
}

.btn-arche-blue-sidebar {
    color: white;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 6px;
    background: $arche-btn-blue;
    width: fit-content;
}
.btn-arche-blue-sidebar:hover {
    background-color: rgba(59, 137, 173, 0.8);
}

.btn-arche-blue.cite {
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
}
.btn-arche-grey {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 12px;
    background: $grey;
    width: fit-content;
    color: white;
    font-size: 12px;
}
.btn-arche-grey:hover {
    background-color: rgba(91, 89, 91, 0.2);
}

.btn-sm-add {
    color: white;
    padding: 5px;
    border-radius: 6px;
    background: $arche-btn-blue;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.section-header-title-small {
    color: #069;
    text-align: center;
    /* Paragraph Bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 175% */
}
.section-header-title {
    color: #333;
    text-align: center;
    /* h2 Bold */
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
table.dataTable {
    font-family: Lato !important;
}

/** HEADER **/
.header-arche-logo {
    height: 34px;
}
.arche-header-user-menu {
    padding-left: 15px;
}
.arche-menu {
    gap: 24px;
}
.arche-menu li a {
    color: #333;
    /* Paragraph Bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 175% */
    gap: 8px;
}

#block-arche-theme-main-menu.contextual-region {
    margin: auto;
}
#block-arche-theme-account-menu {
    display: flex;
}
#block-arche-theme-account-menu > ul {
    display: contents !important;
}

#block-arche-theme-account-menu li a {
    color: white;
    padding: 10px 16px;
    gap: 8px;
    border-radius: 6px;
    background: $arche-green;
    display: flex;
    align-items: flex-start;
}
#block-arche-theme-account-menu li a:hover {
    background-color: rgba(88, 188, 193, 0.2);
}
ul.links {
    display: flex;
    gap: 24px;
    list-style: none;
}

.arche-header-navbar {
    justify-content: flex-end !important;
    flex-grow: unset !important;
}

.arche-header-navbar div {
    display: flex;
    gap: 24px;
}
.language-switcher-language-session-oeaw {
    border: none;
    background: transparent;
    text-transform: uppercase;
}
#block-arche-theme-archelanguageswitcher {
    margin: auto;
}

.front-header-div {
    height: 420px;
}
.main-header-div {
    height: 306px;
}

/*** HEader menu ***/

ul.nav.nav-pills {
    display: flex;
    gap: 8px;
}

ul.nav.nav-pills > li > a {
    color: white;
    padding: 10px 16px;
    gap: 8px;
    border-radius: 6px;
    background: $arche-green;
    display: flex;
    align-items: flex-start;
}

/** HOME HERO **/
.home-hero-section {

}

.hero-home-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 12px;
}

.hero-small-text {
    color: #666;
    text-align: center;

    /* Paragraph Small */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.header-characters {
    z-index: 10;
    position: relative;
    bottom: -5px;
}
.character-man {
    text-align: right;
}
.character-woman {
    text-align: left;
}

.hero-search-field {
    border-top-left-radius: 50px;
    /* Adjust the radius as needed */
    border-bottom-left-radius: 50px;
}
.hero-search-button {
    background-color: $arche-medium-blue;
    border-top-right-radius: 50px;
    /* Adjust the radius as needed */
    border-bottom-right-radius: 50px;
}

.hero-search-button:hover {
    background-color: $arche-medium-blue;
}


/*
.mobile-tool-bar{
    display: none;
    font-size: 36px;
    height:100px;
}

.hero{
    margin-top: -80px;
    height:500px;
    background: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.1) 46%, rgba(0,0,0,.1) 100%), url('http://localhost:8888/arche-d10//themes/arche_theme/images/arche-home-hero.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-theme{

}
*/

.arche-footer-content {
    margin-top: -130px;
}
.arche-footer-content ul {
    padding-left: 0px !important;
}
.arche-footer p, .arche-footer a {
    color: #FFF;
    /* Paragraph Small */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}
.arche-footer-sub-title {
    font-family: Lato;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 28px !important;
}

.arche-footer h4 {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.arche-footer {
    position: relative;
    color: #fff;
    padding: 2rem 0;
    background-color: #069;
    padding-top: 150px;
}
.arche-footer .container {
    position: relative;
}
.arche-footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5;
}
.arche-footer .links li {

}
.arche-footer .links li a {
    color: #fff;
}
.arche-footer .links li a:hover {
    color: #fff;
}
.arche-footer .social li {
    display: inline-block;
    position: relative;
}
.arche-footer .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #8186d5;
    color: #fff;
}
.arche-footer .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.arche-footer .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.arche-footer .copyright {
    color: #666873;
}

.cta-container {
    display: flex;
    justify-content: center;
}
.arche-footer .cta {
    padding: 20px;
    border-radius: 12px;
    border: 2px solid $arche-light-blue;
    background: #FFF;
    top: -190px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #666;
    max-width: 980px;
}
.arche-footer .cta p {
    color: #666;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.arche-footer .cta h2, .arche-footer .cta h3 {
    line-height: 1.5;
}
.arche-footer .cta h3 {
    font-size: 20px;
}
.arche-footer::before, .arche-footer::after {
    content: "";
    position: absolute;
    width: 250px;
    /* Adjust the width of the logos */
    height: 250px;
    /* Adjust the height of the logos */
}

.arche-footer::before {
    top: 0;
    right: 0;
    background-image: url("../images/common/footer_top_rigt_bubble.png");
    /* Replace with your top logo */
    background-size: cover;
    z-index: 0;
    width: 204px;
    height: 238px;
}

.arche-footer::after {
    bottom: 0;
    left: 0;
    background-image: url("../images/common/footer_left_bottom_bubble.png");
    /* Replace with your bottom logo */
    background-size: cover;
    z-index: 0;
}

.arche-footer-bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 8px;
}

.arche-footer-bottom-versions {
    justify-content: center;
    padding-top: 20px;
}

.arche-footer-two-div h2,
.arche-footer-three-div h2{
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.btn-toolbar-text {
    color: #FFF;
    text-align: center;

    /* Text Small Bold */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
}
.btn-toolbar-grey,
.btn-toolbar-grey.no-btn:hover {
    padding: 4px 8px;
    gap: 8px;
    border-radius: 12px;
    background: $grey;
    color: #fff;
}

.btn-toolbar-blue,
.btn-toolbar-blue.no-btn:hover {
    padding: 4px 8px;
    gap: 8px;
    border-radius: 12px;
    background: $arche-btn-blue;
    color: #fff;
}

.btn-toolbar-green,
.btn-toolbar-green.no-btn:hover {
    padding: 4px 8px;
    gap: 8px;
    border-radius: 12px;
    background: $arche-green;
    color: #fff;
}

.absolute-bottom-btn {
    margin: 10px;
    bottom: 0px;
}

.mission-container {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    border: 1px solid $light-grey;
    border-radius: 12px;
    background: #fff;
    max-width: 980px;
    gap: 24px;
    flex-direction: column;
}

.mission-container .row {
    width: 100%;
    flex-grow: 1;
}

.mission-main-img {
    border-radius: 16px;
}

.mission-container .section-header-title-small,
.mission-container .section-header-title{
    text-align: left;
}

.mission-container .lead {
    color: #666;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

#home-collections-slider-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.collections-container {
    max-width: 980px;
    gap: 32px;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar {
    background-color: transparent;
}

.cover {
    /*
    //background: url('https://images.unsplash.com/photo-1562636714-d4683c37e832?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
   // background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center center;
    */
}

.bg-orange {
    background-color: #ff6144!important;
}

.vh-80 {
    min-height: 84vh;
}

.sign__container {
    width: 60%;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}
.cards-wrapper .card img {
    max-width: 100%;
    max-height: 100%;
}

.cards-wrapper .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}
.carousel-inner {
    padding: 1em;
}
.carousel-control-prev, .carousel-control-next {
    background-color: $light-grey;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.resources-container-home {
    background-image: url("../images/common/resource_bottom_bubble.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mission-container-home {
    background-image: url("../images/common/mission_bottom_bubble.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 60px;
    padding-bottom: 150px;
    background-color: $arche-smokey-white;
}

.home-resources-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.home-resources-images {
    max-width: 165px;
    padding-top: 12px;
}
.home-resources-title h5 {
    text-align: center !important;
}
.home-resources-text {
    text-align: center;
}
.basic-arche-btn {
    display: flex;
    width: 100%;
    padding: 10px 16px;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    background: $arche-btn-blue;
    margin-top: auto;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.basic-arche-btn:hover {
    background-color: rgba(59, 137, 173, 0.8);
}

//// home slider
.arche-home-collections-slider {
    background-color: $arche-smokey-white;
}

.carousel-control-prev-icon {
    background-image: url('../images/carousel/left-arrow-blue.svg') !important;
    background-size: cover;
}

.carousel-control-next-icon {
    background-image: url('../images/carousel/right-arrow-blue.svg') !important;
    background-size: cover;
}

.carousel-control-prev {
    left: -50px;
}
.carousel-control-next {
     right: -50px;
}
.carousel-control-prev, 
.carousel-control-next {
    background-color: transparent !important;
    position: absolute;
}

#multi-item-carousel img.card-img-top {
    width: 100%;
    height: 140px;
    object-fit: contain;
}
.arche-home-card .card img.card-img-top {
    width: 100%;
    height: 140px;
    object-fit: contain;
}

.card .card-body h5.card-title,
.card .card-body h5.card-title a {
    color: #000;
    /* Paragraph Bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.card .card-body .card-text {
    color: #666;
    /* Paragraph Small */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.arche-home-card {
    height: 370px;
}

.basic-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 1px solid $light-grey;
    background: #FFF;
    position: relative;
}
.basic-content-div .container-fluid {
    gap: 24px;
    display: flex;
    padding: 24px;
    flex-direction: column;
}
.discover-content-main {
    padding: 24px;
}


.basic-inside-content-div {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: $light-blue;
}

.light-blue-box {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    background: $light-blue;
}

///// METADATA VIEW

.card.metadata {
    width: 100%;
}
.card.metadata .card-header {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.card.metadata .card-header .row {
    width: 100%;
}

.metadata-breadcrumb {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
    gap: 6px !important;
    flex: 1 0 0;
}

.metadata-right,
#metadata-right-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

#metadata-right-container .row {
    gap: 24px;
}
.meta-titleimage {
    flex-shrink: 0;
    align-self: stretch;

}
.meta-titleimage img {
    object-fit: cover;
}

.flex-gap-col {
    display: flex;
    gap: 24px;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.tooltip-icon {
    width: 24px;
    height: 24px;
}
.tooltop-icon-div {
    padding: 0px;
    margin: 0px;
}

.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the loader is on top of the content */
}

.loader {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 47px;
    height: 47px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-30px; /*image width/2 */
    margin-top:-30px; /*image height/2 */
}
.loader-overlay.metadata-main-loader {
    display: none;
}


#expertdt-container{
    display: none;
}

#expertDT_wrapper {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
    background:#FFF;
}

#expertDT_wrapper .top {
    padding: 12px;
}

div.dataTables_processing > div:last-child {
    display: none;
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 10px 12px;
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    border-top: 1px solid  #E1E1E1;
    border-left: 1px solid #E1E1E1;
    background: rgba(255, 255, 255, 0.00);
}

table.dataTable tbody td .res-prop-value {
    padding: 10px 12px;
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    background: rgba(255, 255, 255, 0.00);
}

table.dataTable thead tr, table.dataTable thead th {
    background-color: $arche-smokey-white;
    color: #333;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 10px 12px;
    border-top: 1px solid  #E1E1E1;
    border-left: 1px solid #E1E1E1;
}

#childDT_wrapper {
    width: 100%;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
    background:#FFF;
}

table.child-table,
table.child-table tbody th,
table.child-table tbody td,
table.child-table thead th  {
    border: none !important;
}

table.child-table.dataTable tbody th,
table.child-table.dataTable tbody td {
    padding: 10px 12px;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    background: rgba(255, 255, 255, 0.00);
}

table.child-table.dataTable tbody td .res-prop-value {
    padding: 10px 12px;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    background: rgba(255, 255, 255, 0.00);
}

table.child-table.dataTable thead tr, table.child-table.dataTable thead th {
    background-color: $arche-smokey-white;
    color: #333;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 10px 12px;
}

.child-table-content-div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

// metadata sidebar
.card-body.meta-sidebar {
    padding: 24px;
    display: flex;
    gap: 12px;
}
.card-body.meta-sidebar.downloadcard {
    display: flex;
    gap: 12px;
    padding: 24px;
    flex-direction: column;
}

.child-tree-div,
.rcr-table-div,
.publications-table-div {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 9px;
    border-radius: 12px;
}

.tree-view-container {

}
.jstree-default > .jstree-striped {
    background-color: #fff !important;
    background: none !important;
}

/// tree closed dir
.jstree-node.jstree-closed,
.jstree-node.jstree-open{
    background: #F8F9FA;
}

.jstree-node.jstree-closed li[aria-level],
.jstree-node.jstree-open li[aria-level] {
    background-color: #E1E1E1; /* Apply the same background color for all levels */
}
.jstree-node.jstree-closed li[aria-level="1"],
.jstree-node.jstree-open li[aria-level="1"] {
    background-color: #E1E1E1; /* Apply the same background color for all levels */
}


.jstree-node a {
    color: #333;
    /* Text Small Bold */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
}

#child-tree ul li {
    border: 1px solid #E1E1E1;
    padding: 10px 12px 10px 32px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

li[aria-level].jstree-node.jstree-leaf  {
    background-color: #fff !important;
}


/// VERSIONS

#versionsBody .card-body.meta-sidebar {
    overflow: auto;
}

////// cite 


#cite-div .row {
    //display: none;
}
#copy-cite-btn-confirmation {
    display: none;
}

#cite-loader {
    width: 100%;
}





//// root discover

.root-table tbody th,
.root-table tbody td {
    border: none !important;
}

.btn-root-topbar-grey {
    display: flex;
    height: 38px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #E9ECEF;
}

.btn-root-topbar-grey-text {
    color: #343A40;
    text-align: center;

    /* Paragraph Small Bold */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
}

#rootDT thead {
    display: none;
}
#rootDT_paginate,
.dataTables_paginate.paging_simple_numbers {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    float: none !important;
}

#rootDT_paginate .paginate_button,
.dataTables_paginate.paging_simple_numbers .paginate_button {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid  #E9ECEF;
    background: #FFF;
    color: #6C757D;
}

#rootDT_paginate .paginate_button.disabled,
.dataTables_paginate.paging_simple_numbers .paginate_button.disabled {
    background: #E9ECEF;
    color: #fff;

}

#rootDT_paginate .paginate_button.current,
.dataTables_paginate.paging_simple_numbers .paginate_button.current
{
    border: 1px solid $arche-btn-blue;
    background: $arche-btn-blue;
    color: #fff !important;
}
#rootDT_paginate .paginate_button.next,
#rootDT_paginate .paginate_button.previous {
    
}

.dropdown-menu.discover-dropdown,
.discover-dropdown-btn {
    background-color: #fff;
    color: #666666;
    border: 1px solid #CED4DA !important;
}

.discover-dropdown-btn::hover {
    color: #fff;
    background-color: #666666;
}
.discover-sort {
    display: flex;
    justify-content: end;
}

.discover-line-bottom {
    border-bottom: 1px solid #E1EDF3;
    padding-bottom: 10px;
    maring-bottom: 10px;
}
.discover-line-top {
    border-top: 1px solid #E1EDF3;
    padding-top: 10px;
    margin-top: 10px;
}
table.dataTable.no-footer {
    border-bottom: none;
}
.discover-content-toolbar {
    display: flex;
    gap: 12px;
    padding-top: 24px;
}
.discover-table-content-div,
.discover-table-image-div {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.discover-top {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.discover-top-toolbar  {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.discover-left {
    display: flex;
    flex-direction: column;
    gap: 24px;   
}

.discover-count {
    display: flex;
    align-items: center;
}

.main-content-row {
    width: 100%;
}


///// SMART SEARCH MAP ////


.leaflet-popup-content {
    text-align: center;
}

#smMapSearchResults {
    color: white;
    width: 100%;
    height: auto;
}

#smMapSearchResults p {
    padding: 10px;
}

#smMapSearchResults p:hover {
    background-color: white;
    color: black;
}
.smMapSearchResultsContainer {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 10px;
    width: 90%;
    height: auto;
    z-index: 1000;
}

#searchInput {
    padding: 5px;
    width: 100%;
}
#closeSMSMapButton {
    padding: 5px;
    
}

.map-loader {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 45px;
    height: 45px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-30px; /*image width/2 */
    margin-top:-30px; /*image height/2 */
    display: none;
    z-index: 2000;
}

.loader-cite {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 45px;
    height: 45px;
    position:inherit;
    z-index: 2000;
}

.sms-map {
    width: 100%;
    height: 100%;
}

.arche-sms-popup {
    display: none;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

//// smart search ///////////
#facets {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#searchIn {
    display: none;
}
.smartsearch-pager {
    width: 100%;
    border-bottom: 1px solid #E1EDF3;
    padding-bottom: 20px;
    
}
.arche-smartsearch-page-div .row {
    display: flex;
    align-items: center;   
}
.arche-smartsearch-page-div .form-outline {
    display: flex;
    align-items: center;
}
.smart-result-row {
    padding: 24px;
    border-bottom: 1px solid #E1EDF3;
}

.extendedSearchCard {
    
}

.res-property.sm-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}
.sm-img-list {
    min-height: 100px;
    object-fit: contain;
    width: auto;
}

@media (min-width: 768px) {
    .cards-wrapper .card img {
        height: 11em;
    }
}
@media (min-width: 1200px) {
    .sign__container {
        width: 350px;
    }
    .subtitle-mb {
        margin-bottom: 5.5rem !important;
    }
}
