

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col">
            <div class="my-5 text-center">
                <p class="section-header-title-small">{{ "COLLECTIONS"|trans }}</p>
                <p class="section-header-title">{{ "Find, submit and reuse data"|trans }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 collections-container">
    <div class="row gx-5">

        <div class="container mt-5">
            <div id="multi-item-carousel" class="carousel slide" data-bs-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 1</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 1</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 2</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 4</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 5</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="https://dummyimage.com/600x350/adb5bd/495057" class="card-img-top" alt="1...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 6</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <a class="btn btn-primary absolute-bottom-btn" href="#">Mehr Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#multi-item-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#multi-item-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>




