<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col">
            <div class="my-5 text-center">
                <p class="section-header-title-small">{{ "OUR SERVICE"|trans }}</p>
                <p class="section-header-title">{{ "What is ARCHE?"|trans }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zRKW6CdOD-k?si=uHukAhBKAh2N3tjF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
                <p class="">Wenden Sie sich an uns, wenn Sie über Datenressourcen verfügen, welche Sie teilen wollen und dabei auch sicherstellen möchten, dass die Daten auch in Zukunft verfügbar sein werden. Wir bieten sowohl die Archivierung als auch die Online-Verfügbarmachung Ihrer Ressourcen an. 

                    Bei Bedarf unterstützen wir Sie beim Konvertieren von Daten und Metadaten in die erforderlichen Formate.
                    Wir haben eine Reihe von Richtlinien und Informationen bereitgestellt, die Sie über das Navigationsmenü auf der linken Seite aufrufen können. 
                    Um eine kurze Einführung in den Archivierungsprozess zu erhalten, können Sie sich unsere Videos mit Dante, einem Projektleiter und Nora, einer Kuratorin bei ARCHE, ansehen.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    <a class="btn btn-arche-blue px-4 me-sm-3" href="#features">More</a>
                </div>
            </div>
        </div>
    </div>
</div>