<p class="arche-footer-sub-title">{{ "Browse on the site" }}</p>
<form class="d-flex" id="search-block-form" action="/browser/search/node" method="get" data-drupal-form-fields="edit-keys">
    <div class="input-group">
        <input id="edit-keys" name="keys" type="search" class="form-control hero-search-field" placeholder="{{ "Find content"|trans }}..." aria-label="Search">
        <button class="btn hero-search-button" type="submit" id="edit-submit"><img class="img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/search_icon.png" alt="Search"  /></button>
    </div>
</form>