<div class="container maxw-980">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col">
            <div class="my-5 text-center">
                <p class="section-header-title-small">SMALL TITLE</p>
                <p class="section-header-title">NORMAL TITLE</p>
            </div>
        </div>
    </div>
</div>



<div class="container maxw-980">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="accordion" id="accordionDivThree">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Preservation Policy
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionDivThree">
                    <div class="accordion-body">
                        <ul>
                            <li>Archaeology Data Service (ADS): Collections Policy. 
                                <a href="https://archaeologydataservice.ac.uk/about/policies/collections-policy">https://archaeologydataservice.ac.uk/about/policies/collections-policy</a> (Version 9.0)
</li>
                            <li>British Library: Digital Preservation Strategy.
                                <a href="https://www.bl.uk/digital-preservation/strategy ">https://www.bl.uk/digital-preservation/strategy </a></li>
                            <li>DANS: Preservation Policy, Version 1.2. 
                                <a href="https://dans.knaw.nl/nl/over/diensten/easy/toelichting-data-deponeren/DANSpreservationpolicyUK.pdf">https://dans.knaw.nl/nl/over/diensten/easy/toelichting-data-deponeren/DANSpreservationpolicyUK.pdf</a>
                            [No longer available.]</li>
                            <li>DANS: Preservation Plan, Version 1. 
                                <a href="https://web.archive.org/web/20190505125409/https:/dans.knaw.nl/en/about/organisation-and-policy/policy-and-strategy/preservation-plan-data-archiving-and-networked-services-dans-1">https://web.archive.org/web/20190505125409/https:/dans.knaw.nl/en/about/organisation-and-policy/policy-and-strategy/preservation-plan-data-archiving-and-networked-services-dans-1
</a></li>
                            <li>Data Preservation Coalition (DPC): Data Preservation Handbook. 
                                <a href="https://www.dpconline.org/handbook">https://www.dpconline.org/handbook</a></li>
                            <li>Open Preservation Foundation (2019-20): Digital Preservation Community Survey. Findings Report.  
                                <a href="https://openpreservation.org/wp-content/uploads/public/resources/surveys/2020/OPFCommunitySurvey_Report_v03_200907.pdf">https://openpreservation.org/wp-content/uploads/public/resources/surveys/2020/OPFCommunitySurvey_Report_v03_200907.pdf</a>
                            </li>
                            <li>RDA: Reagan Moore, Rainer Stotzka, Claudia Cacciari, Petr Benedikt (2015): Practical Policy. DOI:
                                <a href="https://doi.org/10.15497/83E1B3F9-7E17-484A-A466-B3E5775121CC">10.15497/83E1B3F9-7E17-484A-A466-B3E5775121CC</a></li>
                            <li>Scalable Preservation Elements (SCAPE): Barbara Sierman, Catherine Jones, Gry Elstrøm (2014) Catalogue of preservation policy elements.
                                <a href="https://scape-project.eu/wp-content/uploads/2014/02/SCAPE_D13.2_KB_V1.0.pdf">https://scape-project.eu/wp-content/uploads/2014/02/SCAPE_D13.2_KB_V1.0.pdf</a></li>
                            <li>The National Archives: Preservation Policy 2018.  
                                <a href="http://www.nationalarchives.gov.uk/documents/preservation-policy-june-2018.pdf ">http://www.nationalarchives.gov.uk/documents/preservation-policy-june-2018.pdf</a></li>
                            <li>TIB: Franziska Schwab (2019) Export und Exit-Szenario.
                                <a href="https://wiki.tib.eu/confluence/display/lza/Export+und+Exit-Szenario">https://wiki.tib.eu/confluence/display/lza/Export+und+Exit-Szenario</a></li>
                            <li>TIB: Preservation Policy der drei Zentralen Fachbibliotheken (Version 3, 2019)
                                <a href="https://www.tib.eu/de/die-tib/policies/preservation-policy-der-drei-zentralen-fachbibliotheken">https://www.tib.eu/de/die-tib/policies/preservation-policy-der-drei-zentralen-fachbibliotheken</a></li>
                            <li>TIB: Preservation Policy of the Technische Informationsbibliothek (TIB) – German National Library of Science and Technology (Version 1.4 2019). 
                                <a href="https://www.tib.eu/en/tib/policies/preservation-policy">https://www.tib.eu/en/tib/policies/preservation-policy</a></li>
                            <li>UK Data Archive: Preservation Policy 2019. 
                                <a href="https://dam.data-archive.ac.uk/controlled/cd062-preservationpolicy.pdf">https://dam.data-archive.ac.uk/controlled/cd062-preservationpolicy.pdf</a></li>
                            <li>University of Edinburgh: Developing a Digital Preservation Policy.
                                <a href="http://www.dpconline.org/component/docman/doc_download/1321-making-progress-hsbc-nov-2014-lee">http://www.dpconline.org/component/docman/doc_download/1321-making-progress-hsbc-nov-2014-lee</a></li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Curation Workflow
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionDivThree">
                    <div class="accordion-body">
                        <ul>
                            <li>Archivematica: Micro-services. <a href="https://wiki.archivematica.org/Micro-services">https://wiki.archivematica.org/Micro-services</a></li>
                            <li>
                                Consultative Committee for Space Data Systems: Producer-Archive Interface Methodology Abstract Standard (PAIMAS). Magenta Book (2004).

                                <a href="https://public.ccsds.org/Pubs/651x0m1.pdf">https://public.ccsds.org/Pubs/651x0m1.pdf</a>
                            </li>
                            <li>
                                Data Curation Network (DCN): Lisa R. Johnston: Curating Research Data. Volume Two: A Handbook of Current Practice.
                                <a href="http://www.ala.org/acrl/sites/ala.org.acrl/files/content/publications/booksanddigitalresources/digital/9780838988633_crd_v2_OA.pdf">http://www.ala.org/acrl/sites/ala.org.acrl/files/content/publications/booksanddigitalresources/digital/9780838988633_crd_v2_OA.pdf</a>
                            </li>
                            <li>
                                IANUS: Archivierung bei IANUS.
                                <a href="https://ianus-fdz.de/langzeitarchivierung">https://ianus-fdz.de/langzeitarchivierung</a>
                            </li>
                            <li>UC Curation Center. 
                                <a href="https://escholarship.org/uc/item/5313h6k9">https://escholarship.org/uc/item/5313h6k9</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        File Formats
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionDivThree">
                    <div class="accordion-body">
                        <ul>
                            <li>Archaeology Data Service (ADS): Guides to Good Practice
                                <a href="https://guides.archaeologydataservice.ac.uk/g2gp/Main">https://guides.archaeologydataservice.ac.uk/g2gp/Main</a></li>
                            <li>IANUS: IT-Empfehlungen für den nachhaltigen Umgang mit digitalen Daten in den Altertumswissenschaften. DOI: 
                                <a href="http://dx.doi.org/10.13149/000.111000-a">10.13149/000.111000-a</a></li>
                            <li>CLARIN: Standard Recommendations.

                                <a href="https://www.clarin.eu/sites/default/files/Standards%20for%20LRT-v6.pdf">https://www.clarin.eu/sites/default/files/Standards%20for%20LRT-v6.pdf</a></li>
                            <li>Library of Congress: Digital Preservation at the Library of Congress.
                                <a href="https://www.loc.gov/preservation/digital/">https://www.loc.gov/preservation/digital/</a></li>
                            <li>U.S. National Archives and Records Administration Digital Preservation Framework: 
                                <a href="https://github.com/usnationalarchives/digital-preservation">https://github.com/usnationalarchives/digital-preservation</a></li>
                            <li>U.S. National Archives and Records Administration Digital Preservation Framework: The NARA Risk and Prioritization Matrix.
                                <a href="https://github.com/usnationalarchives/digital-preservation/tree/e746d3a6a6806f209b9c9272cc5c43d940cb8830/Digital_Preservation_Risk_Matrix">https://github.com/usnationalarchives/digital-preservation/tree/e746d3a6a6806f209b9c9272cc5c43d940cb8830/Digital_Preservation_Risk_Matrix</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                       Risk management

                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionDivThree">
                    <div class="accordion-body">
                        <ul>
                            <li>Bodleian Libraries: Introduction to Digital Preservation: Risks to digital assets
                                <a href="https://web.archive.org/web/20211009015508/https://libguides.bodleian.ox.ac.uk/digitalpreservation/risks">https://web.archive.org/web/20211009015508/https://libguides.bodleian.ox.ac.uk/digitalpreservation/risks</a></li>
                            <li>Data Preservation Coalition (DPC): Digital Preservation Handbook. Preservation issues.
                                <a href="https://www.dpconline.org/handbook/digital-preservation/preservation-issues">https://www.dpconline.org/handbook/digital-preservation/preservation-issues</a></li>
                            <li>The National Archives: Risk Assessment Handbook

                                <a href="https://www.nationalarchives.gov.uk/documents/information-management/Risk-Assessment-Handbook.pdf">https://www.nationalarchives.gov.uk/documents/information-management/Risk-Assessment-Handbook.pdf</a></li>
                            <li>ZBW: Risk Management and Preservation Planning in the Digital ARchive of the ZBW.
                                <a href="https://www.zbw.eu/en/about-us/key-activities/digital-preservation/risk-management">https://www.zbw.eu/en/about-us/key-activities/digital-preservation/risk-management</a></li>
                            
                        </ul>
                        
                        
                        
                    </div>
                </div>
            </div>




            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Non Compliance

                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionDivThree">
                    <div class="accordion-body">
                        <p>Non compliance with legal obligations like laws, internal or external policies and standards can result in a loss of trustworthiness. Manual curation by trained staff helps in avoiding this risk.

                        </p>
                        <p>Risk priority number - 4 | Probability - 2 | Impact - 2
                        </p>

                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                       Organisational Risk
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionDivThree">
                    <div class="accordion-body">
                        <p>A change in the priorities of the Austrian Academy of Sciences (OeAW), a lack of funding or a general change in the political climate might lead to the demise of the archive. In any of these cases data and metadata from ARCHE will be transferred to another repository or even divided up between other suitable repositories.

                        </p>
                        <p>
                            Risk priority number - 3 | Probability - 1 | Impact - 3
                        </p>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>