

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col">
            <div class="my-5 text-center">
                <p class="section-header-title-small">GUIDANCE</p>
                <p class="section-header-title">Important Information</p>
            </div>
        </div>
    </div>
</div>
<div class="container maxw-980">
    <div class="row-fluid">
        <div class="container px-3 ">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/discover_resource_pc.png" alt='Discover resource' />
                        <div class="card-body home-resources-body p-4">
                            <a class="text-center" href="#!"><h5 class="card-title mb-3">Preservation Policy</h5></a>
                            <p class="card-text home-resources-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p style="display: contents;"><a class="btn basic-arche-btn home-resources-btn" href="#">Show</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/find_resource_pc.png" alt='Find resource' />
                        <div class="card-body home-resources-body p-4">
                            <a class="text-center" href="#!"><h5 class="card-title mb-3">Find resource</h5></a>
                            <p class="card-text home-resources-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p style="display: contents;"><a class="btn basic-arche-btn home-resources-btn" href="#">Show</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/faq_pc.png" alt='FAQ' />
                        <div class="card-body home-resources-body p-4">
                            <a class="text-center" href="#!"><h5 class="card-title mb-3">FAQ</h5></a>
                            <p class="card-text home-resources-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p style="display: contents;"><a class="btn basic-arche-btn home-resources-btn" href="#">Show</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/faq_pc.png" alt='FAQ' />
                        <div class="card-body home-resources-body p-4">
                            <a class="text-center" href="#!"><h5 class="card-title mb-3">FAQ</h5></a>
                            <p class="card-text home-resources-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <p style="display: contents;"><a class="btn basic-arche-btn home-resources-btn" href="#">Show</a></p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    </div>
</div>






