<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col">
            <div class="my-5 text-center">
                <p class="section-header-title-small">
                    GUIDANCE
                </p>
                <p class="section-header-title">
                    Important information
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container maxw-980">
    <div class="row-fluid">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/card-img-pdf.png" alt="Collection Policy" width="100%" height="100%">
                        <div class="card-body home-resources-body p-4">
                            <h5 class="card-title mb-3">
                                <a class="text-center" href="/browser/preservation-policy">Preservation Policy</a>
                            </h5>
                            <p class="card-text home-resources-text">
                                Archiving, maintenance, and risk management
                            </p>
                            <p style="display:contents;">
                                <a class="btn basic-arche-btn home-resources-btn" href="/browser/preservation-policy">Show</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/card-img-pdf.png" alt="Deposition Agreement" width="100%" height="100%">
                        <div class="card-body home-resources-body p-4">
                            <h5 class="card-title mb-3">
                                <a class="text-center" href="/browser/privacy-policy">Privacy Policy</a>
                            </h5>
                            <p class="card-text home-resources-text">
                                Protective measures for personal data
                            </p>
                            <p style="display:contents;">
                                <a class="btn basic-arche-btn home-resources-btn" href="/browser/privacy-policy">Show</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/card-img-pdf.png" alt="Filenames, Formats, &amp; Metadata" width="100%" height="100%">
                        <div class="card-body home-resources-body p-4">
                            <h5 class="card-title mb-3">
                                <a class="text-center" href="/browser/terms-of-use">Terms of Use</a>
                            </h5>
                            <p class="card-text home-resources-text">
                               Conditions for the deposition, access, and use of data 

                            </p>
                            <p style="display:contents;">
                                <a class="btn basic-arche-btn home-resources-btn" href="/browser/terms-of-use">Show</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0 d-flex align-items-center justify-content-center">
                        <img class="card-img-top cards-static-images img-fluid" src="/browser/themes/contrib/arche-theme-bs/images/common/card-img-faq.png" alt="FAQ" width="100%" height="100%">
                        <div class="card-body home-resources-body p-4">
                            <h5 class="card-title mb-3">
                                <a class="text-center" href="/browser/faq">FAQ</a>
                            </h5>
                            <p class="card-text home-resources-text">
                                Answers to frequently asked questions and practical tips for depositors
                            </p>
                            <p style="display:contents;">
                                <a class="btn basic-arche-btn home-resources-btn" href="/browser/faq">Show</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>