<div class="container-fluid bg-white m-0 p-0">
    <div class="container maxw-980 bg-white">
        <div class="row gx-5 justify-content-center">
            <div class="col">
                <div class="my-5 text-center">
                    <p class="section-header-title-small">
                        CONVENTIONS
                    </p>
                    <p class="section-header-title">
                        Filenames
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container maxw-980 bg-white padding-bottom24">
        <div class="row gx-5 justify-content-center">
            <div class="col d-none d-xl-block text-center">
                <p>For file and directory naming use only alphanumeric characters without special characters such as quotes,
                    punctuation marks, characters with diacritics, spaces, slashes and the like. Underscores (_) 
                    and hyphens (-) can be used. For further guidance 
                    have a look at <a href="https://ianus-fdz.de/it-empfehlungen/projektphasen/dateiverwaltung/dateibennenung/">the recommendations from IANUS</a>.
</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="container-fluid bubble-line-container pt-2">
        <div class="image-wrapper">
            <img src="/browser/themes/contrib/arche-theme-bs/images/common/bubble-line.png" alt="Bubble line" width="1600" height="36">
        </div>
    </div>
</div>