
<div class="container white-bg-container maxw-980">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center text-xl-start">
                <p class="section-header-title-small">
                    EFFORT
                </p>
                <p class="section-header-title">
                    Costs
                </p>
                <p>
                    The deposition and storage itself is free of charge. The repository is run as part of the research infrastructure as a service to the community. If the data requires further processing and extensive curation we might charge for the curation effort. 
                </p>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img class="img-fluid mission-main-img" src="/browser/themes/contrib/arche-theme-bs/images/common/Kosten-Nora.png" alt="..." width="523" height="345">

        </div>
    </div>
</div>
