<div class="container-fluid">
    <div class="row light-blue background-image-front-div front-header-div">
        <div class="col front-header-div">

            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="/"><img class="img-fluid header-arche-logo" src="{{ base_path ~ directory }}/images/logos/arche_transparent_header.png" alt="Arche Logo"  /></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse arche-header-navbar" id="navbarNav">
                        
                        {{ page.main_navigation }}
                       
                    </div>
                </div>
            </nav>
            {{ include( arche_theme_path ~ '/templates/layout/hero_home.html.twig' ) }}
        </div>
    </div>
</div>

