
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img class="img-fluid header-arche-logo" src="{{ base_path ~ directory }}/images/logos/logo.svg" alt="Arche Logo"  />
            </a>
            <div class="d-flex">
                <div class="arche-header-menu ">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{ "Discover resources"|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{ "About our service"|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{ "Policies"|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="arche-header-search text-end">
                    <span class="">SEARCH</span>
                </div>
                <div class="arche-header-login text-end">
                    <a href="#" class="btn btn-primary me-2">Login</a>
                </div>
                <div class="arche-header-lng-switch text-end">
                    <span class="">DE</span>
                </div>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->


    <section class="hero">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 offset-md-1 my-auto text-center">
                    <h1 class="headingLg white uc" data-aos="fade-right" data-aos-delay="400">Lorem ipsum dolor sit&nbsp;amet</h1>
                    <h2 class="headingSm white uc" data-aos="fade-right" data-aos-delay="400">Lorem ipsum dolor sit&nbsp;amet</h2>
                </div>
            </div><!-- close row -->
        </div><!-- close container  -->    
    </section>
</header> 

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Food</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MyFavFood</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            EN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <h6 class="dropdown-header">Language</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">SP</a></li>
                            <li><a class="dropdown-item" href="#">FR</a></li>
                            <li><a class="dropdown-item" href="#">DE</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ml-lg-3">
                        <a class="nav-link  text-light" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Log In</a>
                    </li>
                    <li class="nav-item dropdown   ml-lg-3 ">
                        <a class="nav-link dropdown-toggle text-light d-inline-block bg-orange rounded p-1 p-lg-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            Sign Up
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-right p-5 sign__container" aria-labelledby="navbarDropdownMenuLink">


                            <h1 class="h4 mb-3 font-weight-normal text-center">Please sign in</h1>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                            <label for="inputPassword" class="sr-only ">Password</label>
                            <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required="">
                            <div class="checkbox mb-4">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg bg-orange btn-block text-light" type="submit">Sign in</button>


                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container-fluid cover  ">

        <div class="row align-items-center justify-content-center justify-content-xl-start vh-80">
            <div class="col col-sm-7 text-center text-xl-left col-xl-4 offset-xl-2">
                <h1 class="mb-4">Food delivery from the best restaurants in your town</h1>
                <p class="mb-5 subtitle-mb">Food, drinks and desserts available for delivery or pickup.</p>
                <div class="input-group mb-3 shadow">

                    <input type="text" class="form-control" placeholder="Enter delivery address" aria-label="Search" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <button class="btn bg-orange text-light text-uppercase p-3" type="button">Find food</button>
                    </div>
                </div>
                <!-- <form class="d-flex shadow">
                    <input class="form-control " type="search" placeholder="Enter delivery address" aria-label="Search">
                    
                    <button class="btn bg-orange  text-white ml-3 text-uppercase " type="submit">Find Food</button>
                </form> -->

            </div>
        </div>
    </main>
