<main class="container-fluid cover pages-hero-section">

    <div class="row h-60">
        <div class="col-4 header-characters align-self-end">

        </div>

        <div class="col-4">
            <div class="text-center">
                <p class="section-header-title">{{ node.title.value }}</p>
                <span class="hero-small-text"></span>

            </div>
            <div class="pb-1 pt-2">
                

            </div>
            <div class="hero-home-logos">
                <a href="https://www.coretrustseal.org/wp-content/uploads/2021/07/20210709-ARCHE-CTS_Certification_2020-2022.pdf" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/CoreTrustSeal_32.png" /></a>
                <a href="http://hdl.handle.net/11372/DOC-105" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/clarin-b-centre-transparent_32.png" /></a>
            </div>
        </div>

        <div class="col-4 header-characters align-self-end">

        </div>

    </div>

</main>