<main class="container-fluid cover pages-hero-section">

    <div class="row h-60">
        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters align-self-end">

        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 hero-title-container">
            <div class="text-center">
                <h1 class="section-header-title">{{ "Discover Resources"|trans }}</h1>
                <span class="hero-small-text">{{ "Browse the various resources on ARCHE"|trans }}
                </span>

            </div>
            <div class="pb-1 pt-2">
                

            </div>
            <div class="hero-home-logos">
                <a href="https://doi.org/10.34894/SNEQ7T" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/core_trust_seal_64.png" alt="Core Trust Seal" height="32px" /></a>
                <a href="https://doi.org/10.34733/doc-105" target="_blank"><img src="{{ base_path ~ directory }}/images/partner-logos/clarin_b_centre_72.png" alt="Clarin B-centre" height="32px" /></a>
            </div>
        </div>

        <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block header-characters align-self-end">

        </div>

    </div>

</main>
