{% include directory ~ '/templates/layout/header.html.twig' %}

<div id="page-wrapper" class="page-wrapper">
    <div id="page" class=""> 
        {{ page.content }}
    </div>
</div>
{% include directory ~ '/templates/layout/footer.html.twig' %}
