{% include directory ~ '/templates/layout/header.html.twig' %}

<div id="page-wrapper" class="page-wrapper">
    <div id="page" class="">
        <div class="conatiner-fluid">
            <div class="row justify-content-center m-0 p-0">
                <div class="col-lg-4 text-center">
                    <div class="alert alert-danger" role="alert">
                        {{ "This is the curation instance! The paratexts on the homepage as well as in Deposit, Policies, and About ARCHE are not up-to-date! Please consult the <a href='https://arche.acdh.oeaw.ac.at/browser/'>live site</a> to keep yourself informed."|trans }}
                    </div>
                </div>
            </div>
        </div>            
        {{ page.content }}
    </div>
</div>
{% include directory ~ '/templates/layout/footer.html.twig' %}
