
{% include directory ~ '/templates/layout/header_front.html.twig' %}
{{ attach_library('arche_theme/home-page') }}
<div class="container-fluid px-0">
    <main role="main">
        <a id="main-content" tabindex="-1"></a>

        <div class="layout-content">
            <div class="article-list">
                {{ page.start_page_content }}   
            </div>
        </div>{# /.layout-content #}

    </main>
</div>{# /.layout-container #}

{% include directory ~ '/templates/layout/footer.html.twig' %}