{% include directory ~ '/templates/layout/header.html.twig' %}

PAGE
<div id="page-wrapper" class="page-wrapper">
    <div id="page" class="pb-5">
        {{ page.content }}
    </div>
</div>
{% include directory ~ '/templates/layout/footer.html.twig' %}
